Hi <%= @user.email %>, <%= @reviewer.email %> has left a review of your Restaurant, <%= @restaurant.name %>

They said:

<%= @review.comment%>

They rated it: <%= @review.rating %> stars.

<% unless @photo_count.zero? %>
  <p> They also attached <%= @photo_count %> picture(s) </p>
<% end %>