<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant.user.email %>
</p>

<div>
  <% @restaurant.photos.each do | photo | %>
    <%= image_tag url_for(photo), class: 'restaurant-photo' %>
  <% end %>
<div>

<h2>Reviews</h2>
<%= render @reviews if @reviews.any? %>

<%= render 'reviews/form' %>
