<p id="notice"><%= notice %></p>

<%= link_to 'Edit |', edit_restaurant_path(@restaurant) if @restaurant.user == current_user %>
<%= link_to 'Back', restaurants_path %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant.user.email %>
</p>

<div>
  <% @restaurant.photos.each do | photo | %>
    <%= image_tag url_for(photo), class: 'restaurant-photo' %>
  <% end %>
<div>


<div class='reviews'>
  <h2>Reviews</h2>
  <%= render @reviews if @reviews.any? %>
</div>

<% if user_signed_in? %>
  <%= render 'reviews/form' unless current_user == @restaurant.user %>
<% else %>
  <div> <%= link_to "Log in to submit a review!", new_user_session_path %> </div>
<% end %>