<div class="review row">
  <div class="card col-md-12">
    <h5 class="card-title">
      By: <%= review.user.email %>
    </h5>

    <h6 class="card-subtitle mb-2 text-muted">
      Rating: <%= review.rating %>
    </h6>
    
    <p class="card-text">
      Review: <%= review.comment %>
    </p>

    <div>
      <% review.photos.each do | photo | %>
        <%= image_tag url_for(photo), class: 'restaurant-photo' %>
      <% end %>
    <div>

    <% if review.user == current_user %>
      <%= link_to "Delete", restaurant_review_path(review.restaurant, review), method: :delete, class: "card-link" %>
    <% end %>
  </div>
</div>